.custom-checkbox {
  $root: &;

  &--error {
    #{$root}__label::before {
      border-color: $color-orange-red;
    }
  }

  &__field:checked+#{$root}__label::after {
    display: block;
  }

  &__label {
    position: relative;
    padding: 0 0 0 19px;
    font-size: 12px;
    line-height: 1.5;
    color: rgba($color-jaguar, 0.3);
    cursor: pointer;
    transition: color $transition-300;

    &:hover {
      color: $color-jaguar;
    }

    &::before {
      content: "";
      height: 12px;
      width: 12px;
      border: 1px solid $color-jaguar;
      display: flex;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: border-color $transition-300;
    }

    &::after {
      content: "";
      height: 8px;
      width: 8px;
      background-color: $color-jaguar;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 2px;
      display: none;
      transition: background-color $transition-300;
    }
  }

  &__text {
    position: relative;

    &:hover::after {
        opacity: 1;
      }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-jaguar;
      opacity: 0;
      transition: opacity $transition-300;
    }
  }
}