.custom-input {
  position: relative;
  $root: &;

  &--error {
    #{$root}__field, #{$root}__error {
      border-color: $color-orange-red;
      display: block;
    }
  }

  &__field {
    border: 1px solid transparent;
    background-color: rgba($color-jaguar, .05);
    border-radius: 200px;
    font-size: 17px;
    line-height: 1.5;
    padding: 15px 20px;
    width: 100%;
    outline: none;
    transition: border-color $transition-300;

    &::placeholder {
      color: rgba($color-jaguar, 0.3);
    }

    &:hover,
    &:focus-visible {
      border-color: rgba($color-jaguar, 0.5);
    }
  }

  &__error {
    display: none;
    color: $color-orange-red;
    margin: 0;
    padding: 0 0 0 23px;
    font-size: 12px;
    line-height: 1.5;
  }
}
